#filterSection{
    margin: 0 auto 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.filter-buttons{
    all: unset;

    color: var(--color-grey100);
    font-size: var(--font-size16);

    cursor: pointer;
}

.filter-buttons:hover{
    transform: scale(1.05);
    transition: 0.3s;

}

.filter-buttons-selected{
    padding: 2px 8px;
    color: var(--color-alien-green);
    outline: 2px solid var(--color-alien-green);
    border-radius: 0.25rem;
}