*{
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    max-width:100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    max-width: 1200px;
}




@media(min-width: 900px){

}

:root{
    /* --------------------------------- colors --------------------------------- */
    --color-alive-green: #55d790;
    --color-alien-green:#84ae27;
    --color-background: #ffff;
    --color-grey100: #a0b3af;
    --color-white-fixed: #ffff;
    /* ------------------------------- text-sizes ------------------------------- */
    --font-size12: .75rem;
    --font-size16: 1rem;
    --font-size20: 1.25rem;
    --font-size24: 1.5rem;
    --font-size28: 1.75rem;
    --font-size32: 2rem;
    /* ------------------------------ text-weights ------------------------------ */
    --font-black:900;
    --font-bold: 600;
    --font-regular:500;
    --font-thin:400;
    /* ------------------------------ element-sizes ----------------------------- */
    --width100: 100%;
    --charcard-desktop-width:25rem;
    --charcard-padding: .625rem;
    --charcard-pic-width: 10.75rem;
    --charcard-pic-height: 11.75rem;
    --favorite-marker-size: 2rem;
    --alive-button-padding: .3125rem 15rem;
    --favorite-button-width: 14.5625rem;
    --favorite-button-padding: .3125rem 15rem;
    --favorite-button-icon: 2.5625rem;
    /* ------------------------------ stylizations ------------------------------ */
    --radius1: 1rem;
    --radius-round: 50%;
    --box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.75);
}

.dark-mode:root{
    /* --------------------------------- colors --------------------------------- */
    --color-background: rgb(42, 41, 41);
    --color-grey100: #ffffff;
    --radius1: 1rem;
    --radius-round: 50%;
    --box-shadow: 0px 2px 16px 0px rgba(137, 133, 133, 0.75);
}
@media (prefers-color-scheme: dark){
    :root{
        /* --------------------------------- colors --------------------------------- */
        --color-background: rgb(42, 41, 41);
        --color-grey100: #ffffff;
        --radius1: 1rem;
        --radius-round: 50%;
        --box-shadow: 0px 2px 16px 0px rgba(137, 133, 133, 0.75);

    }  
}
