.font12{
    font-size: var( --font-size12);
}

.font16{
    font-size: var( --font-size16);
}

.font20{
    font-size: var( --font-size20);
}

.font24{
    font-size: var( --font-size24);
}

.font28{
    font-size: var( --font-size28); 
}

.font36{
    font-size: var( --font-size36); 
}

.font-bold{
    font-weight: var(--font-bold)
}

.font-black{
    font-weight: var(--font-black)
}
.font-regular{
    font-weight: var(--font-regular)
}
.font-thin{
    font-weight: var(--font-400)
}
.font-color-adaptable{
    color:var(--color-grey100)
}
.font-color-white-fixed{
    color:var(--color-white-fixed);
}